# Ignorar o ambiente virtual
.venv/

# Ignorar arquivos compilados do Python
__pycache__/

# Ignorar arquivos de configurações específicas do sistema
*.pyc
*.pyo
*.pyd

# Ignorar a pasta de configurações do editor
.vscode/
.idea/
